<div class="container">
    <div>
        <h2>Modifier vetement :</h2>
    </div>
    <form>
        <div   class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Vetement:</label>
            <input readonly type="text" [(ngModel)]="currentVetement.idVetement" name="idVetement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Vetement:</label>
            <input type="text" [(ngModel)]="currentVetement.nomVetement" name="nomVetement" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Vetement:</label>
            <input type="number" [(ngModel)]="currentVetement.prix" name=" prix" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création:</label>
            <input type="date" [ngModel]="currentVetement.dateCreation | date: 'yyyy-MM-dd'" 
            (ngModelChange)="currentVetement.dateCreation= $event" name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>couleur:</label>
            <input type="text" [(ngModel)]="currentVetement.couleur" name="couleur" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>taille:</label>
            <input type="text" [(ngModel)]="currentVetement.taille" name=" taille" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Genre:</label>
            <select class="form-control form-control-lg" id="idGenre" name="idGenre"
            [(ngModel)]="updatedgnId">
            <option *ngFor="let gn of genres" [value]="gn.idGenre" >
            {{gn.nomGenre}}
            </option>
            </select>
            </div> 
        <div class="mt-2">
            <button type="submit" (click)="updateVetement()" class="btn btn-success">Modifier</button>
        </div>
     
    </form>
</div>